- if (torrents.length)
	table.table.table-striped
		tr
			th Title
			th Progression
			th Size
			th Ratio
	
		- each torrent in torrents
			tr
				- if (torrent.isFinished)
					td
						a(href='files/' + torrent.webpath) #{torrent.webpath}
				- else
					td #{torrent.webpath}
				td -
				td #{torrent.stats.size / 1024 / 1024}M
				td -
- else
	p There is no torrent for now