br
.container
  img.span1(src='img/salmon.jpg')
  form.form-horizontal.span4(method='post')

    .control-group
        div.input-prepend
            span.add-on.span1="Login"+ "&#160;" + "&#160;" + "&#160;" + "&#160;" + "&#160;" + "&#160;"
            input#login(type='text', name='username', value=username)

    .control-group
        div.input-prepend
            span.add-on.span1="Password"
            input#password(type='password', name='password')

    div.form-actions
        button.btn.btn-primary(type='submit') Send


