form.form-horizontal(method='post')
  div.control-group
    label.control-label(for='login') Login
    div.controls
      input#login(type='text', name='username', value=username)
  div.control-group
    label.control-label(for='password') Password
    div.controls
      input#password(type='password', name='password')
  div.form-actions
   button.btn.btn-primary(type='submit') Send

