- var torrents = finished.concat(downloading)

.container-fluid
	.row-fluid
		.span3
			include ./uploadTorrent.jade

		.span9
			ul.nav.nav-tabs
				li.active
					a(data-toggle="tab",href="#main_all") All (#{torrents.length})
				li
					a(data-toggle="tab",href="#main_downloading") Downloading (#{downloading.length})
				li
					a(data-toggle="tab",href="#main_finished") Finished (#{finished.length})

			.tab-content
				#main_all.tab-pane.active
					include ./filtered_list.jade
					
				.tab-pane(id="main_downloading")
					include ./main_downloading.jade

				.tab-pane(id="main_finished")
					include ./main_finished.jade