.container-fluid
	.row-fluid
		.span3
			include ./uploadTorrent.jade
		.span9
			ul.nav.nav-tabs
				li.active
					a(data-toggle="tab",href="#main_downloading")="Dowloading"
				li
					a(data-toggle="tab",href="#main_finished")="Finished"

			.tab-content
				#main_downloading.tab-pane.active
					include ./main_downloading.jade

				#main_finished.tab-pane
					include ./main_finished.jade
