.well
	h2="Torrent upload"
	form.form-horizontal(method='post', enctype='multipart/form-data')
		div.control-group
			div.controls
			input#file-field(type='file', name='torrent-file')
		div.form-actions
			button.btn.btn-primary(type='submit') Upload
