form.form-horizontal(method='post', enctype='multipart/form-data')
	div.control-group
		label.control-label(for='file-field') Torrent file
		div.controls
		input#file-field(type='file', name='torrent-file')
	div.form-actions
		button.btn.btn-primary(type='submit') Upload
