.well
	h2 Hello #{user.pseudo}
	p
		| This is your account administration's page
		| You can change your password... it's free!
	p
		| We are going to allow you to delete their
		| account as soon as possible.
	p
		| We are really sorry but for now, this is not possible.