#modal_about.modal.hide
	.modal-header
		a.close(data-dismiss='modal') ×
		h3="About"
	.modal-body        
		p="v0.0 - Developped by Braindead Crou"
	.modal-footer
		a.btn(href='#', data-dismiss='modal') Close
