#modal_contact.modal.hide
	.modal-header
		a.close(data-dismiss='modal') ×
		h3="Contact"
	.modal-body
		p If you have anything to say about Salmon Fisher Torrent Manager, please contact:
		a(href='mailto:daroth@braindead.fr')="daroth@braindead.fr"
		p ..or feel free to join braindead.fr IRC channel on
		a(href="http://client00.chat.mibbit.com/?server=mibbit.epiknet.org%3A6662&channel=%23braindead")="#braindead@epiknet.net"
	.modal-footer
		a.btn(href='#', data-dismiss='modal') Close
