#modal_logout.modal.hide
	.modal-header
		a.close(data-dismiss='modal') ×
		h3="Logout"
	.modal-body
		p="You are going to be disconnected, confirm ?"
	.modal-footer
		a.btn(href='#', data-dismiss='modal') Cancel
		a.btn(href='/logout') Logout
